.sectionBox {
    background-color: #ececec;
    border-radius: 2rem;
    position: relative;
    padding: 0rem 1.2rem;
    min-height: calc(92vh - 8.5rem);
    max-height: 60rem;
}

.sectionBoxRow {
    min-height: calc(92vh - 8.5rem);
    max-height: 60rem;
}

.sectionBox h1 {
    font-size: 2.2rem;
}

.secImg1 {
    width: 85%;
}

.sectionText {
    color: #7c7c7c;
    font-size: 1.1rem;
}

.section2 .sectionBox {
    min-height: fit-content;
    padding: 3rem 1.2rem 6rem 1.2rem;
}

.DietWomen {
    position: absolute;
    width: 44%;
    right: -2rem;
    bottom: -4rem;
    max-height: calc(100vh - 7rem);
}

.aboutMe {
    width: 13rem;
    border-radius: 1.5rem;
    position: relative;
    right: 1.5rem;
    top: -3rem;
}

.dietCardOuter {
    overflow-x: scroll;
}

.dietCardInner {
    display: inline-flex;
    padding-left: 5vw;
    padding-right: 5vw;
}

@media only screen and (min-width: 768px) {
    .sectionBox {
        min-height: fit-content;
        height: calc(92vh - 8.5rem);
        max-height: 35rem;
    }

    .sectionBoxRow {
        min-height: fit-content;
        height: calc(92vh - 8.5rem);
        max-height: 35rem;
    }

    .sectionBox {
        padding: 0rem 3rem;
    }

    .secImg1 {
        width: 60%;
    }

    .section2 .sectionBox {
        min-height: calc(100vh - 8.5rem);
        padding: 4rem 4rem 3rem 8rem;
    }

    .aboutMe {
        width: 18rem;
        border-radius: 1.5rem;
        position: relative;
        right: 1.5rem;
        top: 3rem;
    }

    .dietCardOuter {
        overflow: auto;
    }

    .dietCardInner {
        display: block;
        padding-left: 0rem;
        padding-right: 0rem;
    }
}
